In [18]:
import pandas as pd
d = pd.read_excel('training_set_rel3.xlsx', index_col=0)
d

,essay_set,essay,rater1_domain1,rater2_domain1,rater3_domain1,domain1_score,rater1_domain2,rater2_domain2,domain2_score,rater1_trait1,...,rater2_trait3,rater2_trait4,rater2_trait5,rater2_trait6,rater3_trait1,rater3_trait2,rater3_trait3,rater3_trait4,rater3_trait5,rater3_trait6
essay_id,,,,,,,,,,,,,,,,,,,,,
1,1,"Dear local newspaper, I think effects computer...",4.0,4.0,NaN,8.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,"Dear @CAPS1 @CAPS2, I believe that using compu...",5.0,4.0,NaN,9.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,"Dear, @CAPS1 @CAPS2 @CAPS3 More and more peopl...",4.0,3.0,NaN,7.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,"Dear Local Newspaper, @CAPS1 I have found that...",5.0,5.0,NaN,10.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1,"Dear @LOCATION1, I know having computers has a...",4.0,4.0,NaN,8.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21626,8,In most stories mothers and daughters are eit...,17.0,18.0,NaN,35.0,NaN,NaN,NaN,4.0,...,4.0,4.0,4.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN
21628,8,I never understood the meaning laughter is th...,15.0,17.0,NaN,32.0,NaN,NaN,NaN,3.0,...,4.0,4.0,4.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN
21629,8,"When you laugh, is @CAPS5 out of habit, or is ...",20.0,26.0,40.0,40.0,NaN,NaN,NaN,4.0,...,5.0,5.0,5.0,5.0,4.0,4.0,4.0,4.0,4.0,4.0
21630,8,Trippin' on fen...,20.0,20.0,NaN,40.0,NaN,NaN,NaN,4.0,...,4.0,4.0,4.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN
21633,8,Many people believe that laughter can improve...,20.0,20.0,NaN,40.0,NaN,NaN,NaN,4.0,...,4.0,4.0,4.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
d.columns[6:]

Index(['rater1_domain2', 'rater2_domain2', 'domain2_score', 'rater1_trait1',
       'rater1_trait2', 'rater1_trait3', 'rater1_trait4', 'rater1_trait5',
       'rater1_trait6', 'rater2_trait1', 'rater2_trait2', 'rater2_trait3',
       'rater2_trait4', 'rater2_trait5', 'rater2_trait6', 'rater3_trait1',
       'rater3_trait2', 'rater3_trait3', 'rater3_trait4', 'rater3_trait5',
       'rater3_trait6'],
      dtype='object')

In [21]:
d2 = d.drop(d.columns[6:], axis='columns')
d2

,essay_set,essay,rater1_domain1,rater2_domain1,rater3_domain1,domain1_score
essay_id,,,,,,
1,1,"Dear local newspaper, I think effects computer...",4.0,4.0,NaN,8.0
2,1,"Dear @CAPS1 @CAPS2, I believe that using compu...",5.0,4.0,NaN,9.0
3,1,"Dear, @CAPS1 @CAPS2 @CAPS3 More and more peopl...",4.0,3.0,NaN,7.0
4,1,"Dear Local Newspaper, @CAPS1 I have found that...",5.0,5.0,NaN,10.0
5,1,"Dear @LOCATION1, I know having computers has a...",4.0,4.0,NaN,8.0
...,...,...,...,...,...,...
21626,8,In most stories mothers and daughters are eit...,17.0,18.0,NaN,35.0
21628,8,I never understood the meaning laughter is th...,15.0,17.0,NaN,32.0
21629,8,"When you laugh, is @CAPS5 out of habit, or is ...",20.0,26.0,40.0,40.0
21630,8,Trippin' on fen...,20.0,20.0,NaN,40.0
21633,8,Many people believe that laughter can improve...,20.0,20.0,NaN,40.0

In [28]:
d2.columns[2]
d2 = d2.drop([d2.columns[2],d2.columns[3],d2.columns[4]], axis=1)
d2

,essay_set,essay,domain1_score
essay_id,,,
1,1,"Dear local newspaper, I think effects computer...",8.0
2,1,"Dear @CAPS1 @CAPS2, I believe that using compu...",9.0
3,1,"Dear, @CAPS1 @CAPS2 @CAPS3 More and more peopl...",7.0
4,1,"Dear Local Newspaper, @CAPS1 I have found that...",10.0
5,1,"Dear @LOCATION1, I know having computers has a...",8.0
...,...,...,...
21626,8,In most stories mothers and daughters are eit...,35.0
21628,8,I never understood the meaning laughter is th...,32.0
21629,8,"When you laugh, is @CAPS5 out of habit, or is ...",40.0
21630,8,Trippin' on fen...,40.0
21633,8,Many people believe that laughter can improve...,40.0

In [33]:
d2 = d2.dropna()
d2
d2.to_excel('refined_datafile.xlsx')

In [38]:
d3 = pd.read_excel('refined_datafile.xlsx', index_col=0)
d3 = d3.drop(['domain1_score'],axis=1)
d3.to_excel('refined_datafile.xlsx')

In [39]:
d3

          essay_set                                              essay
essay_id
1                 1  Dear local newspaper, I think effects computer...
2                 1  Dear @CAPS1 @CAPS2, I believe that using compu...
3                 1  Dear, @CAPS1 @CAPS2 @CAPS3 More and more peopl...
4                 1  Dear Local Newspaper, @CAPS1 I have found that...
5                 1  Dear @LOCATION1, I know having computers has a...
...             ...                                                ...
21626             8   In most stories mothers and daughters are eit...
21628             8   I never understood the meaning laughter is th...
21629             8  When you laugh, is @CAPS5 out of habit, or is ...
21630             8                                 Trippin' on fen...
21633             8   Many people believe that laughter can improve...

[12977 rows x 2 columns]

In [45]:
# 0행 1열 선택

d3.iloc[0][1]

"Dear local newspaper, I think effects computers have on people are great learning skills/affects because they give us time to chat with friends/new people, helps us learn about the globe(astronomy) and keeps us out of troble! Thing about! Dont you think so? How would you feel if your teenager is always on the phone with friends! Do you ever time to chat with your friends or buisness partner about things. Well now - there's a new way to chat the computer, theirs plenty of sites on the internet to do so: @ORGANIZATION1, @ORGANIZATION2, @CAPS1, facebook, myspace ect. Just think now while your setting up meeting with your boss on the computer, your teenager is having fun on the phone not rushing to get off cause you want to use it. How did you learn about other countrys/states outside of yours? Well I have by computer/internet, it's a new way to learn about what going on in our time! You might think your child spends a lot of time on the computer, but ask them so question about the economy, sea floor spreading or even about the @DATE1's you'll be surprise at how much he/she knows. Believe it or not the computer is much interesting then in class all day reading out of books. If your child is home on your computer or at a local library, it's better than being out with friends being fresh, or being perpressured to doing something they know isnt right. You might not know where your child is, @CAPS2 forbidde in a hospital bed because of a drive-by. Rather than your child on the computer learning, chatting or just playing games, safe and sound in your home or community place. Now I hope you have reached a point to understand and agree with me, because computers can have great effects on you or child because it gives us time to chat with friends/new people, helps us learn about the globe and believe or not keeps us out of troble. Thank you for listening."

In [46]:
d3['essay']

essay_id
1        Dear local newspaper, I think effects computer...
2        Dear @CAPS1 @CAPS2, I believe that using compu...
3        Dear, @CAPS1 @CAPS2 @CAPS3 More and more peopl...
4        Dear Local Newspaper, @CAPS1 I have found that...
5        Dear @LOCATION1, I know having computers has a...
                               ...
21626     In most stories mothers and daughters are eit...
21628     I never understood the meaning laughter is th...
21629    When you laugh, is @CAPS5 out of habit, or is ...
21630                                   Trippin' on fen...
21633     Many people believe that laughter can improve...
Name: essay, Length: 12977, dtype: object

In [58]:
import pandas as pd
d2 = pd.read_excel('d.xlsx')

li = ['1','2','3']
d2['trans'] = li
print(d2)
print('len=',len(d2))

d2.loc[len(d2)] = '4'
d2

  trans
0     1
1     2
2     3
len= 3

  trans
0     1
1     2
2     3
3     4

In [64]:
import pandas as pd
d2 = pd.read_excel('d.xlsx')
d2
d2.loc[len(d2)] = '4'
d2

  trans
0     4

In [72]:
import pandas as pd

d = pd.read_excel('refined_datafile.xlsx',index_col=0)
d.iloc[4][1]

"Dear @LOCATION1, I know having computers has a positive effect on people. The computers connect families, contain information which is great for peoples education, and are very conveint. Computors are a step into the future and we should take advantage of it. First off the internet or e-mail will help family members connect. My family, which lives @NUM1 hours away by car, love to talk with me by e-mail. This helps me connect with my family and is just another reason why we should have computors. Another reason that includes family is when the family is just sitting around and are calling everywhere just to find a board game, it would just be easier to go online to find it. This way it would be quick and easy to find that one board game. The last reason why a computer would help a family is if a family wants to get in to any kinds of activities and they need the number they could just go online. On the internet the family could find the numbers, the and some information about it. This way more and more families can do activities together. As one can see the computer is bringing more and more families together. An other reason why the computers are good for society is educations. With information at the tip of your fingers more and more people will want to learn. Now a days people try to find the out, but will all the tools on the computers mae people get the education. Secondly computers are another way to go to collage. If you arn't up to going to school/collage because your sick. You wouldn't have to miss anything because with a click of a button you will have the materials needed for what was missed. Lastly everyone knows that in @LOCATION2 most classrooms can't afford one computer. The children want computors so hard. If they were to get one it would change so much. They would be able to learn so much more than before. The children could lean about different countries far away. As a result computers would improve the way we learn. The last reason why computers are so helpful is convience. Now a say the world is crazy, so if we don't have to go out or talk to someone we won't. The computer will offer the ability to confrence will other people so that there would be communication between work parttners. With the ability to talk with another for work would make us a lighter nation. This is only one of the many reasons computers are very conviente, subssiquently computers are conviente because you could book flights, vacations, rentals, and much more. With a click of a button you should be going to @CAPS1 or a nice vacation."

In [24]:
import pandas as pd
d = pd.read_excel('refined_datafile.xlsx',index_col=0)
d2 = pd.read_excel('d2.xlsx', index_col=0)

In [1]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from time import sleep
from IPython.display import clear_output 
import pandas as pd

d = pd.read_excel('refined_datafile.xlsx',index_col=0)
d2 = pd.read_excel('d2.xlsx', index_col=0)

prev = 0
for i in range(12360,len(d)):
    options = webdriver.ChromeOptions()
    options.add_argument("headless")
    driver = webdriver.Chrome('chromedriver.exe', chrome_options=options)
    driver.get('https://papago.naver.com/')
    driver.implicitly_wait(10)   
    try:
        english = driver.find_element_by_xpath('/html/body/div/div/div[1]/section/div/div[1]/div[1]/div/div[3]/label/textarea')
        text = d.iloc[i][1]    
        english.send_keys(text)
        clear_output()
        output_text = ' '
        element = WebDriverWait(driver, 20).until(EC.presence_of_element_located((By.XPATH, "/html/body/div/div/div[1]/section/div/div[1]/div[2]/div/ul/li[1]/p")))
        # if len(text) > 1500:
        #     sleep(10)
        # else:
        #     sleep(5)
        
        korean = driver.find_element_by_xpath('/html/body/div/div/div[1]/section/div/div[1]/div[2]/div/div[5]/div/span')
        output_text = korean.text
    except:
        output_text = ' '
    
    if output_text == prev:
        output_text = ' '

    prev = output_text
    print(i,'=',output_text)

    # english.clear()
    driver.quit()
    
    d2.loc[i] = output_text
    if i % 30 == 0:
        d2.to_excel('d2.xlsx')


d2.to_excel('d2.xlsx')
   
d2

12976 = 많은 사람들은 웃음이 여러분의 삶을 향상시킬 수 있다고 믿습니다. 웃음은 여러분의 몸에 일상적인 활동을 위한 에너지를 주는 엔도르핀을 배출합니다. 인간관계는 보통 두 사람 모두 행복하면 더 좋다. 행복은 탄산음료 병을 흔드는 것과 같다. 행복한 감정이 몸에 쌓이고 흔들리면 웃음과 같은 긍정적인 감정의 폭발과 함께 방출된다. 내가 태어났을 때, 엄마는 내가 세상에서 가장 통통한 아기라고 말씀하셨어. 이 말을 하면서 그녀는 웃으면서, 내가 결국 젊은 어른이 될 것이라는 생각을 끊임없이 했다. 나는 우리가 함께 차를 몰고 집에 갈 때 차 뒷좌석에서 킬킬거렸다. 눈시울이 뜨거워질 때까지 내내 웃던 어머니에게 기회가 있을 때마다 웃으라고 가르침을 받았다. 어린 시절 내내 나는 킬킬거리고, 웃고, 웃으며 사춘기를 보냈다. 사춘기로 접어들면서 부작용의 변이가 있는 경증 자폐증 @CAPS1인 @Organization1의 @CAPS1 진단을 받았다. @Organization1의 @CAPS1을 가지고 있는 일부 사람들은 그들의 감정이 신체적으로 드러나지 않는 경우에 발병한다. 이 경우는 @CAPS3 @CAPS1의 물리적 특징과 유사하다. @ORGANITION1의 @CAPS1을 가지고 있는 나의 주된 경우는 한 번에 나에게 주어진 모든 정보를 받지 못한다는 것이다. 사람들이 웃긴다고 생각하는 농담을 할 때, 저는 농담의 중요한 부분인 재미있는 부분을 놓치는 경향이 있습니다. 농담이 끝나자 주변 사람들은 모두 웃고 있지만 나는 멍한 표정으로 서 있다. 때때로 나는 사람들에게 웃을 수 없다고 말한다. 비록 내가 이렇게 말하지만, 나는 그것이 사실이 아니라는 것을 안다. 웃을 수 있어요, 적당한 때를 찾기가 정말 어려워요. 대부분의 경우, 저는 정말 웃기지 않는 상황을 비웃고 다른 사람들은 모두 얼굴에 멍한 시선을 가지고 있습니다. 이것은 보통 저를 당황하게 만들고 저는 정상적이지 않습니다. 많은 사람들이 제가 무표정해 보인다고 말하고는 저를 격려하거나 웃게 하려고 해요. 나는 내 인생의 행복한 시간에도 웃을 필요를 느끼지 않는다. 나는 충분히 웃지 않았지만, 나쁜 상황을 훌륭하고 행복한 상황으로 만드는 법을 배우고 있다. 내가 언제든지 웃을 수 있다는 것을 배우는 것은 중요합니다. 농담이 없어도 나는 웃을 수 있어. 대부분의 사람들은 아마 나를 이상하게 보겠지만, 나는 내면의 행복을 느끼는 사람이기 때문에 신경 쓰지 않을 거야. 웃음은 스트레스를 해소하고, 다른 사람들을 기분 좋게 하며, 정신 장애가 있는 사람들이 그들이 살고 있는 지역사회에서 더 편안하게 느낄 수 있도록 해줍니다. @Organization1의 @CAPS1을 통해서도 나는 누구 못지않게 많이 웃을 수 있다는 것을 마침내 알게 되었다.

                                                   trans
12360  관계에서 여러분은 서로를 신뢰하고, 서로를 신뢰하고, 서로 이야기하고, 서로 울고,...
12361  여자친구와 보내는 하루하루가 재미와 웃음으로 가득한 하루입니다. 나는 기분이 최악일...
12362  웃음 속 나에게 진실된 이야기. 내가 웃을 때 가장 좋았던 기억은 2년 전 @CAP...
12363  웃음은 많은 다른 이유들로 인해 삶에서 매우 중요한 부분이다. 어떤 @MONTHE1...
12364  유제품 @CAPS1 남자친구와 나는 많은 시간을 함께 보낸다. @CAPS2 이틀 전...
...                                                  ...
12972  대부분의 이야기에서 모녀는 적이거나 친구이다. 그러나 @CAPS13 이야기에서 우리...
12973  웃음이 두 사람 사이의 가장 짧은 거리라는 것을 나는 결코 이해하지 못했다, 내가 ...
12974  당신이 웃을 때, @CAPS5는 버릇이 없는 것인가, 아니면 @CAPS1이 원인인가...
12975  울타리에 걸려 넘어지면서 나는 @NUM1살 어리고, 그 짧은 @NUM1살 동안, 내...
12976  많은 사람들은 웃음이 여러분의 삶을 향상시킬 수 있다고 믿습니다. 웃음은 여러분의 ...

[617 rows x 1 columns]

In [33]:
# d2 초기화
d2 = d2.drop(range(6001,6278), axis=0)
d2

Empty DataFrame
Columns: [trans]
Index: []

In [34]:
d2.to_excel('d2.xlsx')
# d2.iloc[91]

In [24]:
len("Dear @LOCATION1, @CAPS1 is a rumor going around saying that computers are a negitive affect in a childs life. I disagree. A computer can help a kid in so many ways, it can help students with homework, let students talk to friends, and help with school projects. And besides, most kids don't don't stay on the computer very long anyways. Homeworks, it's a big role in school, if you don't do it or worse don't get it can you down. That's why computers have websites that help a child learn how do do a problem or a social studies question if they don't know. If you go to the school web page then theres a link that brings you in a math games. Theres even a to a science website. This helps a child so they don't get stressed out over homework. A computer also helps a students interact with friends. A social life is very important to a @NUM1 grater. This is where a computer can have aim, facebook, and even myspace help a kid impact with friends. If a kid got into a fight at school can come home and to work it out and not leave it unseatled. A computer also new friends from other towns. Teens need to and make new friesnd will helps as in life. If a teen helps with a then they can ask a for help. Every student gets a take home project at social point in the time of running out to the store to buy paper and pencils. you can stay home, have money and typee the essay. Computers can help with a social studies or a science project. You can print pictures and find information. Drawing can be a hastle and messy, so it saves time and the mess. If @CAPS1 are words you dont understandd then you can look them out. Computers are and best way to do a project. Computers, everyone uses them, they help our parents just as much as uss. They help us with homework, let us talk to friends, and even help us do our projects! Computers are one of the best technology we have @DATE1.")

1878

In [8]:
d2.iloc[69]

trans    @CAPS1 @CAPS2에게, @CAPS3 컴퓨터 없는 삶. 정보에 빠르게 접근할 ...
Name: 69, dtype: object

In [8]:
from IPython.display import clear_output 
import time
for i in range(12):
    print(i)

time.sleep(3)
clear_output()